# .NET
**/bin/
**/obj/
*.user
*.suo

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Editor
*.sublime-project
*.sublime-workspace

Note.md
